<h3>Details stagiaire</h3>
<ul>
    <li>Nom : {{candidat.Nom}}</li><br>
    <li>Prenom : {{candidat.Prenom}}</li><br>
    <li>Email : {{ candidat.Email }}</li><br>
    <li>Numero de téléphone : {{ candidat.Numero }}</li><br>
    <li>Poste souhaité : {{ candidat.Poste }}</li><br>
    <li>Message : {{ candidat.Message }}</li><br>
    <form method="get" action="/downloadCV }}" >
        <li><button class="btn btn-primary" type="submit">Download CV</button></li><br>
    </form>
</ul>